.auth-button {
    background-color: #fff;
    border-radius: 15px;
    color: #111;
    height: 35px;
    width: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: #111;
}