
@import '../../../root.variables.scss';

.page-title {
    width: 100%;
    // background-color: #eee;
    // border-radius: 30px;
    text-align: left;
    margin: 0;
    color: $pageTitleColor;
    // padding-bottom: 10px;
    line-height: 40px;
    height: $_pageTitleHeight;  
}