@import './root.variables.scss';

@font-face {
    font-family: 'Moderustic';
    src: url('../public/fonts/moderustic/Moderustic-VariableFont_wght.ttf');
}

body,
body :nth-child(n) {
    font-family: 'Moderustic', sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
    // padding: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #eee;
    border-radius: 10px;
    // background-color: transparent;
}

::-webkit-scrollbar-track{
    // padding-top: 20px;
    // padding-bottom: 40px;
    background-color: transparent;
    // background-color: red;
}

body :nth-child(n) {
    font-family: 'Moderustic', sans-serif;
    // scrollbar-width: thin;
    // scroll-padding: 10px;
    // scrollbar-gutter: 10px;
    // overflow-clip-margin: 10px;

   
}

.page {
    display: flex;
    flex-direction: column;
    height: $_pageHeight;
    box-sizing: border-box;

    &__title {
        margin-bottom: $_pageTitleMarginBottom;
    }

    &__content {
        flex-grow: 1;
    }
}

.widget {
    background: $widgetBackgroundColor;
    padding: 10px;
    border-radius: $widgetRadius;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__title {
        font-weight: 500;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
}