$_headerHeight: 60px;

$_layoutMainColor: #1B1B1D;
$_layoutPrimaryColor: #016FB9;
$_layoutHeight: 100vh;
$_layoutWidth: 100vw;
$_layoutMainHeight: calc($_layoutHeight - $_headerHeight);
$_layoutMainMargin: 10px;
$_layoutMainPadding: 20px;

$_pageTitleHeight: 40px;
$_pageTitleMarginBottom: 20px; 

$_buttonHeight: 35px;

$_pageHeight: calc($_layoutMainHeight - 2 * $_layoutMainPadding - $_layoutMainMargin);

$_pageGridMaxHeight: calc($_pageHeight - $_pageTitleHeight - $_pageTitleMarginBottom);
$_pageGridCollectionMaxHeight: $_pageGridMaxHeight;
$_pageGridCollectionGap: 20px;
$_pageGridCollectionListMaxHeight: calc($_pageGridCollectionMaxHeight - $_pageGridCollectionGap - $_buttonHeight);


$buttonsBorderRadius: 16px;
$blocksBorderRadius: 20px;
$blocksPadding: 15px;
$blocksBackgroundColor: #fff;
$blocksBorder: 1px solid #f0f0f0;
$blocksBoxShadow: 0 5px 10px #eee;

$layoutBackgroundColor: $_layoutMainColor;
$layoutMainBackgroundColor: #fff;

$navColor: #fff;

$navLinkColor: #fff;
$navLinkBackgroundColor: transparent;

$navLinkHoverBackgroundColor: #fff2;
$navLinkActiveBackgroundColor: #fff;
$navLinkActiveColor: $_layoutMainColor;

$navLinkActiveBoxShadowColor: #fff6;
$navLinkActiveHoverBackgroundColor: #fffd;

$buttonBackgroundColor: #eee;
$buttonColor: $_layoutMainColor;
$buttonHoverBackgroundColor: #ddd;

$buttonPrimaryBackgroundColor: #348cc7;
$buttonPrimaryColor: #fff;
$buttonPrimaryHoverBackgroundColor: #0164a7;
$buttonPrimaryOutlineHoverBackgroundColor: #cce2f1;
//127Fca

$buttonSuccessBackgroundColor: #50c894;
$buttonSuccessColor: #fff;
$buttonSuccessHoverBackgroundColor: #3d9f75;
$buttonSuccessOutlineHoverBackgroundColor: #8cd4b5;
//50c894

$buttonDangerBackgroundColor: #e4174b;
$buttonDangerColor: #fff;
$buttonDangerHoverBackgroundColor: #bd1f47;
$buttonDangerOutlineHoverBackgroundColor: #ffb3c6;
//db4e68

$pageTitleColor: $_layoutMainColor;

$widgetBackgroundColor: #fff;
$widgetRadius: 15px;
$widgetBorder: 1px solid #eee;