@import '../../../root.variables.scss'; 

.navigation-link {
    display: inline-flex;
    color: $navLinkColor;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: 0.2s all ease;
    height: 25px;
    padding: 3px 15px;
    border-radius: $buttonsBorderRadius;
    font-size: 14px;
    font-weight: 500;
    user-select: none;

    &_root {
        padding:3px 10px;
        width: 18px;
        
    }

    &:hover {
        background-color: $navLinkHoverBackgroundColor;
        cursor: pointer;
    }

    &_active {
        background-color: $navLinkActiveBackgroundColor;
        color: $navLinkActiveColor;
        height: 30px;
        box-shadow: 0 0 20px $navLinkActiveBoxShadowColor;
        &:hover {
            background-color: $navLinkActiveHoverBackgroundColor;
            // color: #113;
        }
    }

    &_loading &__logo {
        display: none;
    }

    &__logo:not(:only-child) {
        margin-right: 5px;
    }

    &_loading {
        &:before {

            display: inline-block;
            content: '\f1ce';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;

            &:not(:only-child) {
                margin-right: 5px;
            }
        }
    }

}