@import '../../../root.variables.scss';

.page-grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-height: $_pageGridMaxHeight;

    &__collection {
        display: flex;
        flex-direction: column;
        flex-basis: 300px;
        gap: $_pageGridCollectionGap;
        max-height: $_pageGridCollectionMaxHeight;
        // overflow-y: hidden;
    }

    &__card {
        flex-grow: 1;
    }

    &__buttons {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 10px;
        & :nth-child(n) {
          flex-grow: 1;  
        }
    }
    &__list {
        box-sizing: border-box;
        border: $blocksBorder;
        background-color: $blocksBackgroundColor;
        border-radius: $blocksBorderRadius;
        box-shadow: $blocksBoxShadow;
        // padding: 10px;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        // max-height: fit-content;

        & > :nth-child(n) {
            flex-grow: 1;
        }
        
    }
}